<form (ngSubmit)="addEtudiant()" [formGroup]="formData" class="p-4">
  <h1 class="text-2xl font-bold mb-4">Ajouter un étudiant</h1>
  <div class="mb-3">
    <label for="id" class="form-label">Age</label>
    <input
      type="number"
      class="form-control"
      id="id"
      placeholder="id"
      formControlName="id"
    />
  </div>
  <div class="mb-3">
    <label for="Nom" class="form-label">Nom</label>
    <input
      type="text"
      class="form-control"
      id="Nom"
      placeholder="Nom"
      formControlName="nom"
    />
  </div>
  <div class="mb-3">
    <label for="age" class="form-label">Age</label>
    <input
      type="number"
      class="form-control"
      id="Age"
      placeholder="Age"
      formControlName="age"
    />
  </div>
  <button type="submit" class="btn btn-primary">Sauvgarder</button>
</form>
